./server/node_modules
./server/dist
./server/build
./server/public/images
./server/public/videos
./server/public/audio

/server/node_modules
/server/dist
/server/build
/server/public/images
/server/public/videos
/server/public/audio

./client/node_modules
./client/dist
./client/build
./client/public/images
./client/public/videos
./client/public/audio

/client/node_modules
/client/dist
/client/build
/client/public/images
/client/public/videos
/client/public/audio